<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="row">
    <div class="col-6">
      <h1>Foods</h1>
    </div>
    <%if user_signed_in?%>
      <div class="col-6 text-end">
        <%= link_to "Add", new_food_path, class: 'btn btn-sm btn-primary text-light btn-href', role: 'button' %>
      </div>  
    <%end%>
      
  </div>  

  <div class="row">
    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Food</th>
            <th scope="col" class="text-center wd-120">Quantity</th>
            <th scope="col" class="text-center wd-120">Value</th>
            <th scope="col" class="text-center wd-120">Actions</th>
          </tr>
        </thead>
        <tbody>
<% if @foods.length.positive? %>
          <% @foods.each do |food| %>
            <tr>
              <td><%=food.name %></td>
              <td class="text-center wd-120"><%= "#{food.quantity} #{food.measure_unit}" %></td>
              <td class="text-end wd-120"><%=number_to_currency(food.price, :unit => "$") %></td>
              <td class="wd-140 display-flex">
              <%if can? :read, food%>
                <%= link_to food_path(food), class: 'btn btn-sm btn-primary text-light', role: 'button' do %>
                  <i class="fas fa-eye" title="Show"></i>
                <% end %>
              <%end%>
              <%if can? :edit, food%>
                <%= link_to edit_food_path(food), class: 'btn btn-sm btn-secondary ms-2', role: 'button' do %>
                  <i class="fas fa-pen" title="Edit"></i>
                <% end %>
              <%end%>
              <%if can? :destroy, food%>
                <%= button_to food_path(food), { method: :delete, data: { turbo: false }, class: 'btn btn-sm btn-danger text-light ms-2'} do %>
                    <i class="fas fa-trash-alt" title="Delete"></i>
                <% end %> 
              <%end%>
              </td>
            </tr>
          <% end %>
<% else %>
          <tr>
            <td colspan="4" class="col-12 text-center text-secondary py-5"><%=msj_empty %></td>
          </tr>
<% end %>          
        </tbody>
      </table>
    </div>

  </div>
</div>


