<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @food %>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= link_to "< Back to foods", foods_path %> |
      <%= link_to "Edit this food", edit_food_path(@food) %>      
    </div>
    <div class="col-12 col-md-6 text-end">
      <%= button_to "Delete", @food, method: :delete, class: 'btn btn-danger text-light' %>
    </div>
  </div>
</div> 
